body {
	margin: 0 auto;
}

.cabeca {
	display: table;
	width: 100%;
}

.cabeca h1 {
	display: inline-block;
	font-size: 40px;
	margin-left: 1em;
	vertical-align: middle;
}

.cabeca img {
	display: inline-block;
	margin-left: 1em;
	width: 60px;
	vertical-align: middle;
}

.cabeca ul{
	display: table;
	float: right;
	margin-top:auto;
	margin-bottom:auto;
	list-style: none;
}

.cabeca ul li {
	display: table-cell;
	padding: 3em 1em 0em 1em;
}

.cabeca ul li a {
	color: #000000;
	text-decoration: none;
	font-size: 16px;
}

.cabeca ul li a:hover {
    border-bottom: 2px solid #8ECC6D;
}

.menu {
	margin-left:auto; 
	margin-right:auto;
	width: 50%;
}

.menu ul {
    padding:0px;
    margin:0px;
    background-color:#BAF291;
    list-style:none;
}

.menu ul li { display: inline; }

.menu ul li a {
    padding: 10px 53.4px;
    display: inline-block;

   
    background-color:#BAF291;
    color: #333;
    text-decoration: none;
    border-bottom:3px solid #BAF291;
}

.menu ul li a:hover {
    border-bottom:5px solid #8ECC6D;
}

.conteudo {
	margin-left:auto; 
	margin-right:auto;
	width: 50%;
}

.conteudo img {
	width: 650px;
	height: 300px;
	display: block;
	margin-left: auto;
    	margin-right: auto;
	margin-top: 40px;
}

.conteudo p {
	font-size: 18px;
	text-align: justify;
}

.conteudo ul li {
	font-size: 18px;
	text-align: justify;
}

#higiene img{
	/*margin-right: px;*/
	width: 230px;
	height: 200px;
	float: left;
}

#higiene figure {
	display: table;
	float: left;
}

#higiene figcaption {
	display: table-caption;
	caption-side: bottom;
	font-style: italic;
	font-size: 14px;
}
#alimentacao img{
	margin-right: 10px;
	width: 325px;
	float: right;	
}

#atividade img{
	margin-right: 10px;
	width: 325px;
	float: left;	
}

#saude img{
	margin-right: 10px;
	width: 325px;
	float: left;	
}
